{% extends 'main_site/layout.html' %}

{% block header %}
<header id="header">
	<h1><a href="">Eco4home</a></h1>
	<nav id="nav">
		<ul>
			<li class="special">
				<a href="#menu" class="menuToggle"><span>Меню</span></a>
				<div id="menu">
					<ul>
						<li><a href="../">Главная</a></li>
						<li><a href="../tests">Тесты</a></li>
						<li><a href="">Каталог</a></li>
						<li><a href="../stocks">Товары дня</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
</header>
{% endblock %}

{% block section_one %}
<article id="main">
	<header>
		<h2>Каталог товаров</h2>
		<p>Тут вы можете выбрать домашние растения и аксессуары для них</p>
	</header>
	<section class="wrapper style5">
		<div id="category-select">
		  <select id="category">
			<option value="all">Все категории</option>
			<option value="Вид">Электроника</option>
			<option value="Растеневидное">Одежда</option>
			<option value="Обыкновенный кактус">Книги</option>
		  </select>
		</div>

		<div id="products">
		<div id='card' class="cards">
			{% for item in items %}
			<div class="card" data-category="{{ item.type_plant }}">
				<div class="card__top">
					<a href="#" class="card__image">
						<img src="{{ item.img_plant.url }}" alt="{{ item.name_plant }}">
					</a>
					{% if item.sale_plant != 0 %}
					<div class="card__label">{{ item.sale_plant }}%</div>
					{% endif %}
				</div>
				<div class="card__bottom">
					<a href="#" class="card__title">
						{{ item.name_plant }}
					</a>
					<h7>{{ item.type_plant }}</h7>
					<div class="card__prices">
						{% if item.sale_plant != 0 %}
						<div class="card__price card__price--discount">{{ item.get_sale }}</div>
						{% endif %}
						{% if item.sale_plant == 0 %}
						<div class="card__price card__price--discount">{{ item.price_plant }}</div>
						{% endif %}
					</div>
					<a href="#" class="card__add">В корзину</a>
				</div>
			</div>
			{% endfor %}
		</div>
		</div>
			<button id="loadMoreButton" class="button__fit">Показать еще</button>
	</section>
</article>
{% endblock %}
