{% extends 'main_site/layout.html' %}

{% block banner %}
<section id="banner">
    <div class="inner">
        <h2>Eco4home</h2>
        <p>Подбор домашних декоративных растений<br /></p>
        <ul class="actions special">
            <li><a href="{% url 'individual_tests' %}" class="button primary">Пройти тест</a></li>
        </ul>
    </div>
    <a href="#one" class="more scrolly">Узнать подробнее</a>
</section>
{% endblock %}

{% block section_one %}
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>Товары со скидкой</h2>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {% for item in items %}
                    {% if item.sale_plant != 0 %}
                    <div class="swiper-slide">
                        <div class="swipper__card">
                            <img src="{{ item.img_plant.url }}" alt="{{ item.name_plant }}">
                            <div class="swipper__card-content">
                                <h3>{{ item.name_plant }}</h3>
                                <p>Скидка: {{ item.sale_plant }}%</p>
                                <p>Цена со скидкой: {{ item.get_sale }} ₽</p>
                                <button class="add-to-cart-button">В корзину</button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </header>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock %}

{% block section_two %}
<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="static/main_site/img/pic4.jpg" alt="" /></div><div class="content">
            <h2>Индивидуальный тест по подбору домашнего растения</h2>
            <p>Пройдите небольшой опрос и мы подберем для вас идеальный вариат домашнего растения.</p>
            <ul class="actions special">
                <li><a href="{% url 'individual_tests' %}" class="button fit">Пройти тест</a></li>
            </ul>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="static/main_site/img/pic5.jpg" alt="" /></div><div class="content">
            <h2>Каталог декоративных растений<br />
            и аксессуаров</h2>
            <p>Мы можем предложить вам более 300 видов домашних растений и аксессуаров для них, в том числе из-за рубежа.</p>
            <ul class="actions special">
                <li><a href="{% url 'catalog' %}" class="button fit">Перейти в каталог</a></li>
            </ul>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="static/main_site/img/pic3.jpg" alt="" /></div><div class="content">
            <h2>Мастер-классы</h2>
            <p>На нашем сайте представлены интересные и познавательные мастер-классы в формате видеоуроков.</p>
            <ul class="actions special">
                <li><a href="{% url 'actions' %}" class="button fit">Начать учиться</a></li>
            </ul>
        </div>
    </section>
</section>
{% endblock %}

{% block section_three %}
<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Как выбрать растения правильно?</h2>
        </header>
        <ul class="features">
            <li class="icon fa-file">
                <h3>Пройти индивидуальный тест</h3>
                <p>Проходите специально разработанный тест для подбора самаго подходящего для вас декоративного домашнего растения.</p>
            </li>
            <li class="icon solid fa-laptop">
                <h3>Читатение статей</h3>
                <p>На нашем сайте размешено множество статей по уходу и выбору всевозможных домашних растений.</p>
            </li>
            <li class="icon solid fa-video">
                <h3>Мастер-классы</h3>
                <p>Смотрите специально разработанные мастер-классы в формате видеороликов чтобы правильно ухаживать за растениями.</p>
            </li>
            <li class="icon fa-list-alt">
                <h3>Подглядывайте в памятку</h3>
                <p>С каждым растением мы прилагаем памятку по уходу и заботе за данным видом, которая поможет вам содержать его.</p>
            </li>
            <li class="icon fa-heart">
                <h3>Обратитесь за помощью в тех. поддержку</h3>
                <p>Наши специалисты всегда готовы помочь вам в решении любых вопросов по домашним растениям.</p>
            </li>
            <li class="icon fa-paper-plane">
                <h3>Подпишиетсь на рассылку в социальных сетях</h3>
                <p>Подписывайтесь на наши группы в социальных сетях и получайте интересные мастер-классы, видеоуроки и подкасты о растениях.</p>
            </li>
        </ul>
    </div>
</section>
{% endblock %}

{% block CTA %}
<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>Проходите тест и заказывайте лучшие растения для вашего дома</h2>
            <p>Мы предлагаем вам широкий выбор домашних растений под любой стиль вашего помещения.</p>
        </header>
        <ul class="actions stacked">
            <li><a href="{% url 'catalog' %}" class="button fit primary">Каталог</a></li>
            <li><a href="{% url 'individual_tests' %}" class="button fit">Пройти тест</a></li>
        </ul>
    </div>
</section>
<script>
var swiper = new Swiper(".mySwiper", {
    slidesPerView: 'auto',
    slidesPerGroup: 1,
    breakpoints: {
        768: {
            slidesPerView: 3,
        },
        1024: {
            slidesPerView: 4,
        },
        1200: {
            slidesPerView: 5,
        },
    },
    spaceBetween: 3,  // Расстояние между карточками
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
});
</script>
{% endblock %}

