<!DOCTYPE HTML>
<html>
	<head>
		<title>Eco4home | Зелёный дом</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/main_site/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/main_site/assets/css/noscript.css" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				{% block header %}{% endblock %}

				{% block banner %}{% endblock %}

				{% block section_one %}{% endblock %}

				{% block section_two %}{% endblock %}

				{% block section_three %}{% endblock %}

				{% block CTA %}{% endblock %}

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://vk.com/filatov02" class="icon brands fa-vk" target="_blank"><span class="label">Instagram</span></a></li>
							<li><a href="mailto:filatov_02@inbox.ry" class="icon solid fa-envelope" target="_blank"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Eco4home 2023</li><li>Design: <a href="">Eco4homeTeam</a></li>
						</ul>
					</footer>

			</div>

			<script src="/static/main_site/assets/js/jquery.min.js"></script>
			<script src="/static/main_site/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/main_site/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/main_site/assets/js/browser.min.js"></script>
			<script src="/static/main_site/assets/js/breakpoints.min.js"></script>
			<script src="/static/main_site/assets/js/util.js"></script>
			<script src="/static/main_site/assets/js/main.js"></script>

	</body>
</html>