<!DOCTYPE HTML>
<html>
	<head>
		<title>Eco4home | Зелёный дом</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/main_site/assets/css/main.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
		<noscript><link rel="stylesheet" href="/static/main_site/assets/css/noscript.css" /></noscript>
		<link rel="icon" href="/static/main_site/assets/css/images/favicon.ico" type="image/x-icon">
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<header id="header">
					<h1><a href="{% url 'home_page' %}">Eco4home</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Меню</span></a>
									<div id="menu">
										<ul>
											<li><a href="{% url 'home_page' %}">Главная</a></li>
											<li><a href="{% url 'individual_tests' %}">Тесты</a></li>
											<li><a href="{% url 'catalog' %}">Каталог</a></li>
											<li><a href="{% url 'actions' %}">Товары дня</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
				</header>

				{% block banner %}{% endblock %}

				{% block section_one %}{% endblock %}

				{% block section_two %}{% endblock %}

				{% block section_three %}{% endblock %}

				{% block CTA %}{% endblock %}

				<!-- Footer -->
					<footer id="footer">
						<section id="cta" class="wrapper style4" style="padding: 0">
						<div class="inner">
						<ul class="actions stacked" >
							<li></li>
							<li></li>
							<li><a href="{% url 'home_page' %}">Главная</a></li>
							<li><a href="{% url 'individual_tests' %}">Тесты</a></li>
							<li><a href="{% url 'catalog' %}">Каталог</a></li>
                    		<li><a href="{% url 'actions' %}">Товары дня</a></li>
						</ul>
						<ul class="actions stacked">
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li><a href="https://vk.com/filatov02" class="icon brands fa-vk" target="_blank"><span class="label"></span></a></li>
							<li><a href="mailto:filatov_02@inbox.ry" class="icon solid fa-envelope" target="_blank"><span class="label"></span></a></li>
							<li></li>
						</ul>
						<ul class="actions stacked">
							<section>
								<li>Свяжитесь с нами</li>
									<form method="post" action="#">
										<div class="row gtr-uniform">
											<div class="col-6 col-12-xsmall">
												<input type="text" name="demo-name" id="demo-name" value="" placeholder="Имя" />
											</div>
											<div class="col-6 col-12-xsmall">
												<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
											</div>
											<div class="col-12">
												<textarea name="demo-message" id="demo-message" placeholder="Введите сообщение" rows="3" style="resize: none;"></textarea>
											</div>
											<div class="col-12">
												<ul class="actions" style="margin-left: 1.25em">
													<li><input type="submit" value="Отправить" class="primary" /></li>
												</ul>
											</div>
										</div>
									</form>
							</section>
						</ul>
						</div>
						</section>
						<ul class="copyright">
							<li>&copy; Eco4home 2023</li><li>Все права защищены</li>
						</ul>
					</footer>

			</div>

			<script src="/static/main_site/assets/js/jquery.min.js"></script>
			<script src="/static/main_site/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/main_site/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/main_site/assets/js/browser.min.js"></script>
			<script src="/static/main_site/assets/js/breakpoints.min.js"></script>
			<script src="/static/main_site/assets/js/util.js"></script>
			<script src="/static/main_site/assets/js/main.js"></script>

	</body>
</html>