{% extends 'main_site/layout.html' %}

{% block section_one %}
<article id="main">
	<header>
		<h2>Индивидуальные тесты</h2>
		<p>Проходите созданные нашей командой тесты и мы подберём для вас лучшие варианты!</p>
	</header>
	<section class="wrapper style5">
		<div class="inner">
			{% for test in tests %}
			<ul class="actions special">
                <li><a href="{% url 'quiz_view' test.pk %}" class="button fit">{{ test }}</a></li>
            </ul>
			{% endfor %}
		</div>
	</section>
</article>
{% endblock %}
